{{ ansible_managed|comment }}

[Unit]
  Description=system configuration upgrade
  After=network-online.target

[Service]
  ExecStart=/bin/sh -c 'ansible-pull -U "{{ ansible_pull_url }}" -i "$(uname -n)," --diff {{ ansible_pull_playbook }}'
  TimeoutStopSec=600
